.address_edit {
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.postal_code_size {
  margin-right: 50px;
}

.postal_code_size {
  margin-right: 55px;
}

.prefecture_id_size {
  margin-right: 73px;
}

.city_size {
  margin-right: 60px;
}

.address_size {
  margin-right: 28px;
}

.apartment_size {
  margin-right: 45px;
}

.edit_first_name_size {
  margin-right: 30px;
}

.edit_last_name_size {
  margin-right: 30px;
}

.tel_size {
  margin-right: 63px;
}
