.session {
  .session_tilte {
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
  .session__signup {
    text-align: center;
  }
}
 

.session-email {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 20px;
}

.session-password {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 20px;
}
