.new_user_form{
  text-align: center;
}

.postalcode-label {
  padding-right: 180px;
}

.prefectures-label {
  padding-right: 165px;
}

.city-label {
  padding-right: 180px;
}

.streetaddress-label {
  padding-right: 210px;
}

.building-label {
  padding-right: 195px;
}

.familyname-kana-label {
  padding-right: 145px;
}

.familyname-kanzi-label {
  padding-right: 210px;
}

.firstname-kana-label {
  padding-right: 145px;
}

.firstname-kanzi-label {
  padding-right: 210px;
}

.tel-label {
  padding-right: 180px;
}
